$color-header-footer:rgb(102, 217, 209);
$border-button-desktop: blue;
$border-button-tablet: gray;
$border-button-cellphone: skyblue;
$background-button-desktop: whitesmoke;
$background-button-tablet: orange;
$background-button-cellphone: lightgreen;
$main-color: rgb(172, 228, 181);