<section id="dreams">

    <h2>Sueños a futuro</h2>

    <img src="/assets/Imagenes/Indep.jpg" alt="Independiencia">

    <p style="font-size: larger;">
        Me encantaría independizarme lo más pronto posible y poder retribuír un poco del esfuerzo que mi familia ha hecho por mí.
        Vivir bajo mis términos y reglas.
        Igualmente, me gustaría poder formar una familia después de mis 30s.
    </p>

</section>
