<section id="hobbies">
    <h2>Hobbies</h2>

    <img src="/assets/Imagenes/GYM.jpeg" alt="GYM">

    <p>
        Uno de mis hobbies más importantes es el gimnasio. Es algo que me ha dado muchas cosas buenas y que me han transformado como persona.
        Entré por un momento complicado en mi vida, y me ha ayudado a esforzarme mucho más tanto en el ejercicio como en mis estudios y objetivos.
        Muchas personas lo consideran innecesario, pero la verdad yo sigo pensando que el ejercicio es lo mejor que puedes tener en tu vida para sentirte cómodo contigo mismo.
    </p>

    <img src="/assets/Imagenes/IMAX.jpg" alt="Cine">

    <p>
        Por otra parte, me encanta ir al cine. Sin duda lo considero una actividad muy importante y divertida.
        Especialmente, me gusta ir solo y los días de poca gente.
    </p>

</section>