<h2>Bienvenido a mi página de presentación</h2>

<section id="description">
            <img src="/assets/Imagenes/Profile.jpg" alt="myProfilePicture">

            <h1>
                ¿Quién soy yo?
            </h1>

            <p>
                Mi nombre es Omar y soy un estudiante de la carrera de Ingeniería en Sistemas Computacionales en el ITESO.
                En la presente página encontrarás un poco sobre mi vida, mis perspectivas sobre la misma, etc.
                Navega por el menú de la parte superior y conóceme bien.
            </p>
        </section>

        <hr style="width: 100%;">
</section>